{% extends "package/edit_base.html" %}
{% import 'macros/form.html' as input_object %}

{% block styles %}
  {{ super() }}
  {% asset 'ckanext-protocol-link/dataset-protocol-css' %}
{% endblock styles %}


{% block primary_content_inner %}
    {% set action = h.url_for('protocol_link.unlink_protocol', _external=True) %}
    <div class="row">
        <div class="col-sm-12">
            <h3>You unlink Protocol(s) Here. Please Select the ones you like to unlink.</h3>
            <br>
            {% if not protocols %}
                <div class="alert alert-info text-justify">
                    <p>
                        {{_('There is no Protocol linked to this dataset.')}}
                    </p>
                </div>
            
            
            {% else %}
              <form id="protocol-edit-form" class="" method="post" action='{{action}}' data-module="basic-form" enctype="multipart/form-data">
                  {% for prot, link in protocols.items() %}
                        <label class="checkbox-container" value="{{prot}}" >{{prot}}
                          <input type="checkbox" 
                            class="protocol-box"
                            name="protocol_list"
                            value="{{prot}}" 
                            >
                          <span class="checkmark"></span>
                        </label>
                  {% endfor %}
                  <input type="hidden" name="dataset_id" value={{pkg_dict.id}}>            
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
                <button id="protocol_link_btn" class="btn btn-danger" type="submit">{{_('Unlink')}}</button>
                </form>
            </div>
        </div>
        {% endif %}    
    </div>


{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'ckanext-protocol-link/dataset-protocol-js' %}
{% endblock %}
