<div id={{'resourcesModal' ~ counter}} class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Equipment: <div id={{'modalMachineName' ~ counter}}></div> </h4>
      </div>
      <div class="modal-body">  
        <b><i>
          <p>{{_('Please select the data resources for this Equipment.')}}</p>
        </i></b>
        <label class="checkbox-container">{{_('Select All')}}
            <input type="checkbox" class="select-all-resources" id={{'select-all-resources-' ~ counter}}>
            <span class="checkmark"></span>
          </label>
          <br>
        <div class="resources-list-box">
          {% for res in resources %}
            <label class="checkbox-container">{{res.name}}
              <input type="checkbox" class={{'resource-checkbox-input' ~ counter}}>
              <span class="checkmark"></span>
            </label>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button id="ref_submit_btn" class="btn btn-primary">{{_('Add')}}</button>
        <button id="ref_add_close_btn" type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
      </div>
    </div>

  </div>
</div>