<button type="button" class="btn btn-default resources-modal" data-toggle="modal" data-target="#resourcesModal"></button>

<div id="resourcesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{_('Data Resource(s)')}}</h4>
      </div>
      <div class="modal-body">  
        <b><i>
          <p>{{_('Please select the data resources for this Equipment.')}}</p>
        </i></b>
    
      <div class="modal-footer">
        <button id="ref_submit_btn" class="btn btn-primary">{{_('Add')}}</button>
        <button id="ref_add_close_btn" type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
      </div>
    </div>

  </div>
</div>