.protocol-name-tag{
    display: inline-block;
    background-color: rgb(219, 219, 248);
    padding: 5px;
    margin: 5px;
}

.protocol-link{
    text-decoration: none !important;
    display: none;
}