<div id={{ 'sample_resource_count-message-box_' ~ Id }} class="{{custom_class}} alert alert-success">
    <span id={{ 'sample_resource_names-' ~ Id }}>
      {%- if chosen_resources and resources -%}
        {%- for resource in resources if resource.id in chosen_resources -%}
          {{- resource.name or resource.url -}}{{- ', ' if not loop.last else '' -}}
        {%- endfor -%}
      {%- else -%}
        {{- _('No resource selected') -}}
      {%- endif -%}
    </span>
    <i class="fa fa-edit resource_count_edit" id={{ 'sample_resource_count_edit_' ~ Id }}></i>
</div>
