{% ckan_extends %}

{% block package_additional_info %}
    {% asset 'ckanext-semantic-media-wiki/machines-name-view-css' %}
    {% asset 'ckanext-semantic-media-wiki/dataset-machines-js' %}
    <tr>
        <th scope="row" class="dataset-label">{{ _("Equipment(s)") }}</th>

        <td class="dataset-details">
            {% for resource in pkg_dict['resources'] %}
                <span>
                    <a href="" target="_blank" class="machine-link" id='{{resource.id}}'>
                        <div class="machine-name-tag"></div>
                    </a>
                    <input type="hidden" class="base_url" value="{{ h.url_for('semantic_media_wiki.get_machine_link', id=resource.id, _external=True)}}">
                </span>                                
            {% endfor %}
                                     
        </td>
    </tr>
    {{ super() }}
{% endblock  %}