{% import 'macros/form.html' as macro %}
{% set action = h.url_for('protocol_link.save_protocol', _external=True) %}
{% asset 'ckanext-protocol-link/dataset-protocol-css' %}
{% asset 'ckanext-protocol-link/dataset-protocol-control-js' %}


<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#protocolModal"><i class="fa fa-arrow-right"></i>  {{_('Link Protocol')}}</button>

<div id="protocolModal" class="modal fade" tabindex="-1" aria-labelledby="protocol-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="protocol-modal-title" class="modal-title">{{_('Link a Protocol to this dataset')}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
      </div>
      <form id="protocol-add-form" method="post" action="{{ action }}" data-module="basic-form" enctype="multipart/form-data">
        {{ h.csrf_input() }}
      <div class="modal-body">
        <div class="row" id="protocol_add_alert_box">
            <div class="col-sm-12">
                <div class="alert alert-danger text-justify">
                    <p>
                        {{_('These field(s) are mandatory.')}}
                    </p>
                </div>
            </div>
        </div>  
            {{ macro.input('protocol_name', 
              id='protocol_name',                          
              label=_('Protocol Name'),                          
              classes=['control-medium'] ,
              placeholder="Dataset Protocol Name is")
            }}

            {{ macro.input('protocol_url', 
              id='protocol_url',               
              label=_('Protocol URL'),    
              classes=['control-medium'] ,
              placeholder="https://smw.service.tib.eu/sfb1368/MyProtocol")
            }}
            <input type="hidden" name="dataset_id" value="{{ pkg_dict.id }}">
      </div>
      <div class="modal-footer">
        <button id="protocol_link_btn" class="btn btn-success" type="submit">{{_('Link')}}</button>        
        <button id="protocol_link_close_btn" type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">{{_('Cancel')}}</button>
      </div>
      </form>
    </div>

  </div>
</div>
