{% extends "package/edit_base.html" %}
{% import 'macros/form.html' as input_object %}

{% block styles %}
  {{ super() }}
  {% asset 'ckanext-semantic-media-wiki/machines-css' %}
{% endblock styles %}


{% block primary_content_inner %}
    <p>
        {{_('If you cannot find your Equipment, you can add it via the below button. Please refresh this page 
        if you add a new Equipment.')}}
        <br><br>
        <a id="add_new_machine_btn" class="btn btn-primary" href="" target='_blank'>
            {{_('Add New Equipment')}}
         </a>
    </p>
    <hr>
    {% set action = h.url_for('semantic_media_wiki.edit_save', _external=True) %}
    <form id="machine-form" class="" method="post" action='{{action}}' data-module="basic-form" enctype="multipart/form-data"> 
    <input type="hidden" name="package"  value="{{pkg_dict['name']}}">
    {% for key, value in resource_data.items() %}
        <input type="hidden"  name={{ 'machine_name_' ~ loop.index }} id={{ 'machine_name_' ~ loop.index }}>
        <div class="row machine-box-edit" id={{'machine_box_id_' ~ loop.index}}>
            {% snippet 'snippets/semantic_media_wiki_resources_modal.html', 
                resources=pkg_dict['resources'], 
                counter=loop.index, 
                chosen_resources=value 
            %}
            <div class="col-sm-11">
                <h4>{{_('Please select an Equipment:')}}</h4>   
                <select name={{'machine_link' ~ loop.index}} id={{'machines_dropdown_' ~ loop.index}} class="machine_dropdown" >
                    {% for machine in machines_list %}
                        {% if key == machine.value %}
                            <option value={{machine.value}} image={{machine.image}} selected>
                                {{machine.text}}                  
                            </option>
                        {% else %} 
                            <option value={{machine.value}} image={{machine.image}}>
                                {{machine.text}}                  
                            </option>
                        {% endif %}
                    {% endfor %}
                    <br>
                </select>
            </div>
            <div class="col-sm-1">
                {% if loop.index > 1 %}
                    <a href="#" class="machine-remove-anchor" id={{ '"machine-remove-anchor' ~ loop.index }}>
                    <i class="fa fa-minus-circle remove-machine-icon"></i>
                    </a>
                {% endif %}
            </div>
        </div> 
        <div id={{ 'machine_resource_count-message-box_' ~ loop.index }} class="machine-alert-box-edit alert alert-success">
            <span  id={{ 'machine_resource_count-' ~ loop.index }}></span> &nbsp; {{value|length}} resource(s)
        </div>
    {% endfor %}
    <br>
    <button type="button" class="btn btn-primary" id="add-another-machine-box">{{_('+ Another')}}</button>
    <br><br><br><hr>
    <div class="form-actions">
      <button class="btn btn-primary" name="save_btn" value="finish_machine" type="submit">{{ _('Save') }}</button>
    </div>      
  </form>
  
{% for machine in machines_list %}              
    <div class="machine_url_div" value='{{machine.text}}'>{{machine.image}}</div>  
{% endfor %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'ckanext-semantic-media-wiki/machines-js' %}
{% endblock %}
